<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Read Out Loud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Read Out Loud</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-image-upload></app-image-upload>
  <ion-input placeholder="https://i.stack.imgur.com/IvV2y.png" [formControl]="createNewImageUrlForm.controls.imageUrl"></ion-input>

  <ion-button (click)="submit()">Submit</ion-button>

  <ion-button (click)="listen()">
    <ion-icon name="volume-high"> </ion-icon>
  </ion-button>

  <!-- Display the message from the server -->
  <ion-item *ngIf="messageFromServer">
    <ion-label>{{ messageFromServer }}</ion-label>
  </ion-item>
</ion-content>

