<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Read Out Loud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Read Out Loud</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-image-upload>
  </app-image-upload>
  <ion-input placeholder="https://i.stack.imgur.com/IvV2y.png" [formControl]="createNewImageUrlForm.controls.imageUrl"></ion-input>

  <ion-button (click)="submit()">submit</ion-button>

</ion-content>
